body{
    overflow:auto;
    background-color: rgb(196, 194, 194);
    color: white;
   
   
}


.container {
    display: flex;
    height: 100vh; /* 100% de la hauteur de la vue */
}

.left {
    width: 30%;
    top: 0;
    background-color: #081a27; /* Bleu */
    height: 200vh;
    font-size: 20px;
}

.barre {
    /*flex-grow: 1; Prend toute la largeur disponible */
    height: 18%;
    background-color: #327dbe; /* Marron */
    width: 1280px;
    margin-top: 50px;
    left: 0;
    color: aliceblue;
    font-size: 30px;
}
.info{
    color: white;
}
.skills{
    color: white;
}
.obj{
    margin-top: 250px;
    color: black;
   
}
.ligne1{
    border-bottom: 3px solid black;
        display: inline-block;
        margin-left: 10px;
        width:65%;
        margin-right: 10px;
}
.ligne2{
    border-bottom: 3px solid black;
        display: inline-block;
        margin-left: 10px;
        width:80%;
        margin-right: 10px;
}
.ligne3{
    border-bottom: 3px solid black;
        display: inline-block;
        margin-left: 10px;
        width:70%;
        margin-right: 10px;
}
.ligne4{
    border-bottom: 3px solid black;
        display: inline-block;
        margin-left: 10px;
        width:75%;
        margin-right: 10px;
}
.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
   overflow: hidden;
    float: right;  /*Faire flotter le cadre rond à droite */
    margin-left: 40px;
    margin-top: 0px;
}
